body {
  font-family: -apple-system, BlinkMacSystemFont, 'PingFang SC',
    'Helvetica Neue', STHeiti, 'Microsoft Yahei', Tahoma, Simsun, sans-serif;
}
.page {
  position: relative;
  margin-top: 70px;
}
.main {
  padding: 2rem 2rem 80px;
  display: flex;
  justify-content: space-between;
}
.main-rgt {
  flex: 1;
  margin-left: 30px;
}
.main-title {
  margin-bottom: 15px;
}
.linear-bg {
  height: 10px;
  background: linear-gradient(to right, #fc5c7d, #6a82fb) no-repeat;
}

.markdown-body ul,
.markdown-body ol,
.markdown-body dl {
  margin-left: 0;
}
.markdown-body blockquote {
  font-size: 14px;
}

.pager {
  position: relative;
  width: 800px;
  height: 30px;
  margin: 30px auto 20px;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  color: #898989;
}
.pager-btn {
  display: block;
  position: absolute;
  top: 0;
  background: none;
  border: none;
  font-size: 12px;
  color: #c18c56;
  cursor: pointer;
}
.pager-prev {
  left: 0;
  padding-left: 32px;
  background: url('../assets/icon-arrow-lf.svg') no-repeat center left/contain;
}
.pager-next {
  right: 0;
  padding-right: 32px;
  background: url('../assets/icon-arrow-rgt.svg') no-repeat center right/contain;
}
.pager-btn:hover {
  opacity: 0.8;
}
@media screen and (max-width: 1000px) {
  .pager {
    width: 100%;
  }
  .markdown-body p,
  .markdown-body p code {
    line-height: 1.8;
  }
}

.mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1500;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}
.mask .pic-container {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 95%;
  max-height: 90%;
  padding: 15px 10px;
  transform: translate(-50%, -50%);
}
.mask .pic-border {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 8px;
  background: #000;
  box-sizing: border-box;
}
.mask .corner {
  position: absolute;
  background: #fff;
}
.mask .corner-lt {
  width: 1px;
  height: 30%;
  top: 0;
  left: 0;
}
.mask .corner-tl {
  width: 80%;
  height: 1px;
  top: 0;
  left: 0;
}
.mask .corner-rb {
  width: 1px;
  height: 30%;
  bottom: 0;
  right: 0;
}
.mask .corner-br {
  width: 80%;
  height: 1px;
  bottom: 0;
  right: 0;
}
.mask img {
  width: auto;
  height: auto;
  max-width: 90vw;
  max-height: 80vh;
  margin: 0;
  vertical-align: middle;
}
.mask .close {
  position: absolute;
  right: -35px;
  top: -5px;
  cursor: pointer;
}
.mask .close svg {
  transition: 2s;
}
.mask .close:hover svg {
  transform: rotate(180deg);
}
.mask-hidden {
  display: none;
}

.icon-antd {
  background-image: url('../assets/icon-antd.svg');
}
.icon-d3 {
  background-image: url('../assets/icon-d3.png');
}
.icon-h5 {
  background-image: url('../assets/icon-h5.svg');
}
.icon-react {
  background-image: url('../assets/icon-react.svg');
}
.icon-redux {
  background-image: url('../assets/icon-redux.svg');
}
.icon-vue {
  background-image: url('../assets/icon-vue.png');
}
.icon-vant {
  background-image: url('../assets/icon-vant.png');
}

.icon-client {
  display: block;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.icon-client.icon-pc {
  background-image: url('../assets/icon-pc.svg');
}
.icon-client.icon-mobile {
  background-image: url('../assets/icon-mobile.svg');
}
.icon-client.icon-wx-mini {
  background-image: url('../assets/icon-wx-program.svg');
}
.icon-client.icon-android {
  background-image: url('../assets/icon-android.svg');
}
.icon-client.icon-ios {
  background-image: url('../assets/icon-ios.svg');
}

/* Media Query */
@media only screen and (min-width: 320px) {
  html {
    font-size: 42.6666666667px;
  }
}
@media only screen and (min-width: 346px) {
  html {
    font-size: 46.13333px;
  }
}
@media only screen and (min-width: 360px) {
  html {
    font-size: 48px;
  }
}
@media only screen and (min-width: 375px) {
  html {
    font-size: 50px;
  }
}
@media only screen and (min-width: 384px) {
  html {
    font-size: 51.2px;
  }
}
@media only screen and (min-width: 414px) {
  html {
    font-size: 55.2px;
  }
}

@media only screen and (min-width: 412px) {
  html {
    font-size: 54.93333px;
  }
}
@media only screen and (min-width: 400px) {
  html {
    font-size: 53.33333px;
  }
}
@media only screen and (min-width: 393px) {
  html {
    font-size: 52.4px;
  }
}
@media only screen and (min-width: 390px) {
  html {
    font-size: 52px;
  }
}
@media only screen and (min-width: 432px) {
  html {
    font-size: 57.6px;
  }
}
@media only screen and (min-width: 768px) {
  html {
    font-size: 102.4px;
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 16px;
  }
}
